---
export interface Props {
  playlistId: string;
  title?: string;
}

const { playlistId, title = 'YouTube playlist' } = Astro.props;
---

<div id="yt-player-section" class="relative aspect-video rounded-xl overflow-hidden bg-surface-container-lowest" data-playlist-id={playlistId}>
  <iframe
    id="yt-player"
    src={`https://www.youtube-nocookie.com/embed/videoseries?list=${playlistId}&origin=${Astro.site?.origin ?? ''}`}
    title={title}
    class="absolute inset-0 w-full h-full"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy"
  ></iframe>
</div>
